.game {
  background-color: #638797;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.tile {
  margin: 1%;
  width: 21%;
  height: 21%;
  max-height: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a71a40;
  border-radius: 3px;
  cursor: pointer;
  z-index: 10;

  &:hover {
    border: 2px solid white;
    width: calc(21% - 2px);
    height: calc(21% - 2px);
  }
  img {
    height: 14vh;
    opacity: 0;
  }
}

.opened {
  background-color: white;

  img {
    opacity: 1;
  }
}

.matched {
  border: 2px solid #1ed760 !important;
  width: calc(21% - 2px);
  height: calc(21% - 2px);
}
